axis=0  across vertical  **  axis=1 across horizontal
Creating NaN  -  np.nan

type(NaN) is Float, so if we want to convert any object column with NaN to int, it throw an error because float(NaN) cant convert to int, so convert the column into Float using df['Col']astype(float)

df.to_csv('df_csvformat.csv')

#### Data Visualization setting

pd.set_option('display.max_columns',85)
pd.set_option('display.max_rows',85)

### Creating a Dummy DF

In [ ]:
df = pd.DataFrame([('parrot',   24.0, 'second'),('monkey', np.nan, None)],
                  columns=('name', 'max_speed', 'rank'))

In [ ]:
data = {'col_1': [3, 2, 1, 0], 'col_2': ['a', 'b', 'c', 'd']}
pd.DataFrame.from_dict(data)

# READING DIFFERENT DATA FORMATS TO PANDAS

df = pd.read_csv('sample_data.csv')

df =pd.read_csv('sample_data.csv' , index_col=0) # this will omit the default index column creation by pandas

df =pd.read_csv('sample_data.csv' , index_col=n)#this will bring nth column in the data set to the place of index

df =pd.read_csv('sample_data.csv' , index_col=[n1,n2,n3])#this wil bring the columns n1,n2,n3 to first three colums

#df =pd.read_csv('sample_data.csv' , index= ['first','second',....]) #this will create custome made index instead of defualt index values 1,2,...

df_excel = pd.read_excel(sample_data.xlsx')  #excel format
                         
df_txt = pd.read_csv('sample_data.txt',delimiter ='\t')  #text format , with delimiter

# ANALYSING /Summary statistics/ Function of the Data

#### Data Frame analysis3

df.shape

df.columns

df.info()

df.head(3) / df.tail(3)

df.index

AGGREGATE ELEMENTS

df.describe()   #aggregates(median,min,max,std,mean,count) for all the columns with numeric values
df.median()     #50% percentile 
df.mean()   
dd.max()
df.min()
df.std()
df.count()         #gives count of all values except NaN
df.size
df['Col'].size()  #couunt with nan values in a columns or series
df.quantile(0.50)  #calculating the quantiles/percentiles for all the int df columns

dfc['Age'].rolling(2).mean()  #get the rolling avg for every 2,  dfc['Age'].rolling(5).mean() #for every 5

#### Analysing as columns

df['Col_name'].unique()  #get all the unique values in that column

df['Col_1'].head()       #first 5 values of a specific columnn


df['col_1'].describe()   #aggregates(median,min,max,std,mean,count) for specific column
df['col_1'].median()
df['col_1'].mean()   
df['col_1'].max() 
df['col_1'].min()
df['col_1'].std()
df['col_1'].count()
df['col_1'].sum() # sum can be used with boolean filter al well, it will give the count of true values
df['col_1'].unique() #give the unique values in the column col_1
 
df['Col_1'].quantile(0.25)  #percentile in a specific col with int values

df[['col_1','col_2']].info()   #if want the info of one col, it wont because info not available in series, so add one more col to make it into 2d df and get the info of required col_1


df.T     #transposing DF

THESE ALL CAN BE INSERTED IN TO A DICTIONAY

p=dict(df.max())

p=dict(df['Col_1'].describe())

p=dict(df.describe())
p['col_1') to get the details of one columns

##### To find the dependencies/relations  among the features use

In [ ]:
df_cor=df.corr()  #to get the correlation matrix  and find if any two or more features are highly correlated or not

In [ ]:
c= df_cor["Col-1"].sort_values(ascending=False)
#Gives the correleation of all the features against 'Col-1'

In [ ]:
#below code will give the heatmap for correlation or simply sns.heatmap(cor)
plt.figure(figsize=(12,10))
cor=X_train.corr()
sns.heatmap(cor,annot=True,cmap=plt.cm.CMRmap_r)
plt.show()

to avoid dataleakange and overfitting , we only apply the coreation check with train data
and in case if we drop any features, then drop the same from test as well
In general the threshold value is .85 or 85%, the columns with corrleation above 90 % , we will drop one of the columns
Also negative correlated columns/features should not be removed

# below code can be used to check the correlation between the columns
def correlation(dataset,threshold):
    col_corr=set()
    corr_matrix=dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if abs(corr_matrix.iloc[i,j] >threshold):  #thois abs will give -ve correated columns also , so remove abs from code
                colname=corr_matrix.columns[1]
                col_corr.add(colname)
    return col_corr

cor_features =correlation(X_train,0.9)

### MAX and MIN across Row /Col

In [ ]:
df.max(axis=0, skipna=None, level=None, numeric_only=None/True, **kwargs)  #across columns
df.max(axis=1, skipna=None, level=None, numeric_only=None/True, **kwargs)  #across rows
df[['col','col2'..]].max(axis=0, skipna=None, level=None, numeric_only=None/True, **kwargs)

df.min(axis=0, skipna=None, level=None, numeric_only=None/True, **kwargs)

### Analysing with SNS for finding where all are the NaN values

import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(16,10))
sns.heatmap(df.isnull(),yticklabels=False,cbar=False,cmap='viridis')

df.isnull().sum()

# UPDATE INDEX

df.index  #give the index values info in a list, in case index is not a continiouse integer
df.index[2]  - to get the index value in case index series is an object/string,inside baracket is position of the index in row

df['original_index']=df.index  #this will preserve the original index  into a new column original index, incase if we want to make else column into index

df.set_index(column_name, inplace=True)    # set a specific column into index
 
df.sort_index(inplace=True)  # sort the df by  index values

df.reset_index(inplace=True)   # reset the index to a continuous number , 
                               in case the index is an object/string then it will create a 
                                condinuious numeric index column as index and 
                                change the existing object/string index to a col

### Order the Columns in Alphabetical or asecnding values

df.sort_index(axis= 1,ascending= True)    #Column headings will get sorted ,axis =1 means horizontal dir, ie columns

# UPDATING COLUMN NAMES FOR ANALYSIS

df.columns=['Res','MainB','Hobby','OpenSourcer']  #comnverting all the column names, but no practical use
# THE LIST SHOULD PASS ALL THE COLUMNS NAMES EVEN NO NEED TO CHANGE

 df.rename(columns={'col_1': 'newCol_1', 'col_2':'NewCol_2'} ,inplace=True)   #renaming specific column

df2.columns =[x.lower() for x in df2.columns]  # modifying the column names

x.upper()  #conver to lwr case
s.capitalize() #Letter Case
x.swapcase()  #swap upp and lwr case
x.title()  #converting to title form

# Need to check

  df.columns=df.columns.str_replace(' ','_')

# FILTERING METHODS

### FILTERING COLUMNS AS PRIMARY ELEMENT

df['col_1']  #select whole row in a column

df[['Col_1','Col_2','Col_3']] #select whole row in a mutiple columns

df[['col_1','Col_2','Col_3']][1:5]  #selected rows in columns

### FILTERING ROWS AS PRIMARY ELEMENT ILOC /LOC

#### ILOC -integer loc

df.iloc[0:5]   # whole data in selected row in axis =1

df.iloc[0:5, 1:3 ]   # data in selected row and selected columns with index

df.iloc[0:5]['col_3']  

df.iloc[0:5] [['Col_1','col_2','Col_4']]

#### LOC-Filtering

df.loc[startindexname: endindexname , 'Col_1': 'Col_5' ]              #selecting range of columns 

df.loc[startindexname :endindexname , ['Col_1','Col_2','Col_3']]      #list of columns to select

ADVANCE FILTERING

#### Boolean Op

In [ ]:
# Boolean Operations for above filter

filt =(df['Col_1']>10) | (df['Col_3']<15)   #OR

filt =(df['Col_1'] !=10) & (df['Col_3']== 15)   #AND

#combining filter with LOC

filt = ['Col_1','Col_2','Col_3'] 

df.loc[startindexname :endindexname , filt]   #adding filt,if nto range but ransom list of column names  

df.loc[:, filt]  # whole range of index or everything in axis=0

STEP FILTERING


Filt1 = df['Col_1'] == 10
Filt2 = df['Col_5'] == 'YEs'
 
df.loc[filt1 ,['Col_1':'Col_3']]     #adding range of columns to get in iloc or  

df.loc[Filt1]   #from the entire df the rows with filt1 ==True 

df.loc[0:10][filt1]  #first select the range 0 to 10, then apply filt1 within that range of data

df.loc[filt1]    #applying filter directly instead of index range to whole df with rows meeting filt values get selected


df.loc[filt1][filt2]    #step filtering with multiple filters

#### Search with String in a col

#### Search with String

In [ ]:
filt= df['Col_2'].str.contains ('XXXX', na=False)  #this will give the string from Col_2, 
#for example in titanic df['Name'].str.contains('Dr') , will give all the names and data with Doctor
df.loc[filt]

filt=df['col']
df.loc[filt]['col_2'].str.contains('xxxx',na=False)

#Note=This string.contains apply only to one columsn, so we have to filter out one column first before applying this function to work

SEARCH WITH WHOLE STRING (ISIN METHOD)

In [ ]:
filt=df['Col_1'].isin(['two','four']) 
df[filt]

#### Search with Null or notnull rows

In [ ]:
filt3=df['Cabin'].notnull()
df.loc[filt3]

##### SELECTING THE COLUMNS WITH STRING OR FLOAT OR INT ONLY AS DATA

df.select_dtypes(include=['integer'])  #this will give the whole df with integer values only

df.select_dtypes(include=['integer']).columns  #from above code it will return only the columns names 

df.select_dtypes(include=['integer','float']).columns

df.select_dtypes(exclude = ['object']).columns  # all except object

In [ ]:
for col in dfc.columns:
    if [dfc[col].dtypes =='object']:
         print(col)

#### IX INDEXING (COMBINATION OF ILOC AND LOC)

## DATA CLENSING

### Drop / HANDLING NaN and Null VALUES

filt=df1['col_1'].isna() # boolean for the NaN values in column col_1
filt=df1['col_1'].isnull() # boolean for the NULL values in column col_1
filt =df.isna().any/all(axis=1)  # boolean for the NaN values in DF , index is true if any/all nan value present in row wise
filt =df.isnull().any/all(axis=1)  # boolean for the NULL values in DF

filt =df.isna().any/all(axis=0)  # boolean for the NaN values in DF , colum name s true if any/all nan value present in that cole
filt =df.isnull().any/all(axis=0)  # boolean for the NULL values in DF

df1.loc[filt]   #apply above four filters to get the rows of nan/Null values in DF 

#DROPING THE ROWS IN THE COL col WITH NA VALUE
filt1=df['col'].isna()
index=df[filt1].index
df.drop(index=df[filt].index,inplace=True)

df=df.dropna() #below is the default value of this option
df=df.dropna(axis='index' how ='any')   #will drop that rows in case any one of the cell has Nan value
df=df.dropn(axis='index', how ='all')   #will drop that row only if all the values in that row is Nan

df =df.dropn(axis='columns' ,how='any' /'all') #this will look through the column


df=df.dropna(axis ='index',how= 'any'/'all' ,subset =['col1','col2','col3'])
df=df.dropna(axis ='index',how= 'any' ,subset =['col1'])
#above subset is, if any or all of the columns in subset has Nan then drop that row


#droping columns with na value filter 
filt=df['body'].isna()
df.drop(index=df[filt].index)

#### isnull notnull

In [ ]:
filt=df['Col_1'].isin(['two','four']) 
df[filt]

NUL AND NOT NUL ROW SELECTION      not clear

filt2=df['Col_1'].isnull()
filt3=df['Col_1'].notnull()

df.loc[filt1]
df.loc[filt1]

#### Rows without NaN value

In [ ]:
df.loc[~filt1]

#### GET THE COLUMNS WITH NULL  or Non Null VALUES

COL_WITH_ MISSING_VALUES =  [col for col in df.columns if df[col].isnull().any()] #give the columns with null value

COL =  [col for col in df.columns if df[col].notnull().all()]  #give list of columns without null value

##### Percentage of Null value in column

df['col_1'].isnull().sum()/len(df['col_1'])
#df['col_1'].isnull().sum()/df['col_1'].size

In [ ]:
for col in df.columns:
    x=df[col].isnull().sum()/len(df[col])
    print(col,x)

In [ ]:
#can add a threshold value
for i in df.columns:
    perc=df[i].isnull().sum() / len(df[i])
    if perc > .18:
        print(i ,perc)

#### Fill NA Values

In [ ]:
df.fillna('test/number /avg etc')
df['col'].fillna('test/number /avg /median etc')
#x=df['col_1'].mean()  # to get the avg value of the column

df[col]=df[col].fillna(df[col].mean()[0]) #coverting the Na in col with mean value of the column (column is int value and not outliers)
df[col]=df[col].fillna(df[col].median()[0]) #coverting the Na in col with mean value of the column (column is int value)
df[col]=df[col].fillna(df[col].mode()[0]) #coverting the Na in col with Mode value of the column (column is object values)

In [ ]:
#automate the fillna the object OR int/float columns with  mode or mean

for col in  df.columns:
    if(df[col].dtype == np.int64) or (df[col].dtype == np.float) :
        df[col]=df[col].fillna(df[col].mean())
    else:
        df[col]=df[col].fillna(df[col].mode()[0])

##### missing value total in each columns

missing_val_count_by_column = (df.isnull().sum()) 
print(missing_val_count_by_column[missing_val_count_by_column > 0]) #OR
missing_val_count_by_column[missing_val_count_by_column/1460>.80]  #missing value >80%
list(missing_val_count_by_column[missing_val_count_by_column/1460>.80.index)

#### Replacing all string NA,no data  or Missing  with NaN

In [ ]:
#for uniqueness fill all unavailable data cell with one string eg:missing , then treat all the cell with missing accordignly
df.fillna('missing') #to fill all the na alue with word missing
df.replace('NA',np.nan,inplace=True)
df.replace('MISSING',np.nan ,inplace=True)
#by using unique we can find the missing,NA or not entered , string vlaues and replace it with above

Note that np.nan is a a float data type , can be check with below code
type(np.nan)

Replace all the values in row or col

df['col_1']=a  # replace all the values in col_1 with a

df.iloc[2] =['A','B',5,'d'] #replace all the values in row with new value, but have to pass all the cell values in that row  rarely used
df.iloc[2] ='A'   # replace all the values with A  rarely used

Replace values in a specific cell

df.iloc[2,5] = 'a' #replace the value in specific cell
#or
df.loc[2, ['col name']] =A
#or we can use filter to select the cells

#### REMOVING WHITE SPACE FROM THE SERIES DATA

In [ ]:
df['col_1']=pd.core.strings.str_strip(df['COL_1']) #here we need to assign to original column, no inplace command

### Converting Data types into another Data type

In [ ]:
df['col'] =df['col'].astype(int)
df['col']=df['col'].astype(float)
df['col' =df['col'].astype(object)

if there is a np.nan present then that column cannot convert into int . because of nan (float)
so replace the nan with zero and then convert it into int

# SORTING

df.sort_values(by='COL_1')                                      #Sorting the DF wrt the values in Col_1
df.sort_values(by='Country',ascending =False ,inplace=True)     #above same with descending order

df.sort_values(by=['Col_1','Col_2'] )   #sort by Col_1  first, if Col_1 have equal values then  consider Col_2 values to sort
df.sort_values(by=['Col_1','Col_2'],ascending=[True,False] )

df['Col_1'].sort_values()        #get sorted col_1 ascending or descending
df.sort_values(by='Col_2')['Col_1']   # get arrange col_1 wrt the sorted values in Col_ 2

df['col_1'].sort_values(ascending=False)[5]  #gets the 6th largest from top in that column
                                             #this can be used for filtering also

##### DF back to original index sort

df.sort_index()  
df.sort_index(axis=0, ascending=True)    
df.sort_index(axis= 1,ascending= True)    #Column headings will get sorted ,axis =1 means horizontal dir, ie columns

# COUNTS

df['Col_1'].count()  # gives the total Non-NaN values in col_1 ,its 1 of the aggregate in describ

len(df['Col_1'] )  # gives all include NaN value or we can use  - df['Col_1'].size

df['Col_1'].value_counts()  #gives count of each values inside the col_1

df['Col_1'].value_counts(normalize=True)  #gives percentage count of each values inside the col_1

d= dict(df['Col_1'].value_counts()) #Take the output as a dictionary

Count of specific value in a column

filt1= df['Col_1'] > 10  #filtering values >10
filt2 =df['col_1'] < 10  #filtering values <10

x=len(df[filt1])  # counting the length of the rows with filt1 condition ,(get the count of male/female in sex columns)
y=len(df[filt2])  #counting the length of the rows of filt1

df[filt1]  # getting df with only filt1 condition satisfies     
df[filt2]

In [ ]:
An example df with which cars people prefere in different countries DF col is  country , person name, carname
TO FIND MOST popular prefered car in India

filt1=df['Country'] =='India'

df.loc[filt1]['car'].value_counts() # gives the highset to lowest of the cars counts in india , 10 people prefer Hyundai, 8 prefer suzuki etc

#get the output in the form of a dict d=dict(df.loc[filt1]['car'].value_counts())

In [ ]:
df.unique()  #give the unique counts in whole df wrt columns

# ADDING DATA FRAMES   TO EACH OTHER

merged=pd.concat([df,df1],axis=1)  #concantinating two df in horizontal direction 
merged=pd.concat([df,df1],axis=0)  #concantinating two df in vertical direction, if any column name in df2 name matching with any column in df, then the data will add below that column and remaining cell fill be Nan

df.append(df2,ignore_index=True)     # appending a df2 to df

### Adding Row or Column in Data Farame

In [ ]:
df['NewCol']=0    #adding dummy columns with a constant
df['NewCol'] =df['Col1'] + 10   #the col1 should be float or int
df['Newcol'] = df['col_1'] +df['col_2'] 
df.append({"Name":"Trivandrum"},ignore_index=True)   # add a new row and add 'Trivandrum' in Name column and remaining col with NaN

SPLITING EXISITNG COLUMNS with delimiter and create new columns

splitcol= df['col_1'].str.split('_') # gives a single column with the strings in col_1 splited 
splitcol= df['col_1'].srt.splot('_', expand=True)  # the two splited columns will be asigned to seperate columns

df[['Newcol_1', 'NewCol_2']] =splitcol  #newly splited columns will b assigned to the new columns Newcol_1 & NewCol_2

#### JOIN

In [ ]:
JOIN TWO DATAFRMAES note below link

In [ ]:
https://www.datasciencemadesimple.com/join-merge-data-frames-pandas-python/

### DEL ROWS and COLUMNS

df.drop(columns=['col_1'] , inplace=True)    # delete single column
df.drop(columns =['col_1','Col_2'], inplace=True)  #deleting multiple columns

In [ ]:
Row wise Deletion

df.drop(index=10)   #DROP BY INDEX

filt=df['OpenSourcer']=="Never"    #Drop rows by filter

df.drop(index=df[filt].index)

filt2=df.iloc[-6:]                         #droping by iloc /loc

df.drop(filt2.index,inplace=True)  # droping last six rows

##### Deleting duplicate rows

In [ ]:
df.drop_duplicates()

# REGULAR EXPRESSION

In [ ]:
#replacig Text with ReEx

df['col_1'].replace(to_replace=r'[^a-zA-Z_]', value='_', regex=True)

test="abce15abce__66@@@avvv"
test1/test =re.sub('[^a-zA-Z_]','',test) #replacing everything except a toz,A toZ  and _ with""
print(test1)
test=re.sub('[a-zA-Z_]','',test)  ##replacing everything  a toz,A toZ  and _ with""
test=re.sub(r'[@()]','',test)  ##replacing @ ()_ with""

# Iterrows

In [ ]:
#this can be used to iterate through the rows , used in For loop

for index, row in df.iterrows():
    print(index,row)

#iterrows can be with specific column also
for index ,row in df.iterrows():
    print(index,row['Name'])  #only that column only will get iterated
    
for index ,row in df.iterrows(): #in case we have column for price and quantity
    pri=(row['Price'])
    qty=(row['Quantiy'])
    price/quantity =pri /qty
    
for index, row in df.iterrows():
    print(index, row['Name':'Age'])  #it will print cells from Name upto cell Age in iteration
for index, row in df.iterrows():
    print(index, row[['Name','Age']])  #it will print cells Name &'HP' in iteration

# SMALLEST AND LARGEST

   

df.nlargest(3,'Col_1')  #Whole df first three rows wrt 3 largest in col_1

df.nlargest(1,'Col_1')['Col_2']  #wrt above condition gives only the value of specific columns-col_2



df['Col_name'].nlargest(5)  #five largest in a specific column 

df['Col_name'].nsmallest(5)  #five smallest in a specific column

(df.nlargest(5,'Col_name'))   #gives the whole DB with 5 largest values in col_name

#can get as a dictionary


df.idxmax(axis = 0/1, skipna = True)  #gives the index of the max value in all columns in df
df['col_1'].idxmax(axis-=0,skipna=True)   # give the index of max value in col_1

df['col_1'].idxmin(axis=0 ,skipna=True)

# idxmax ,idxmin

In [ ]:
index_max=df['col_1'].idxmax() #returns the index of the max value in col_1
index_max =df['col_1'].idxmin() #returns the index of the min value in col_1


above filter can be combined with loc to get the max value also
cell_val=df.loc[index_max]['Col_1']  #access the value with index value  ,accessing with loc and index value

df['col_1'].max()  #gives the max value in col_1 , refer column -analysis for more details

# Grouping

In [ ]:
group_Embarked=df.groupby(['Embarked'])
#above command will take all the unique values in embarked col and split the df_vertically wrt the number of unique value 
#Number of split equeal to the number of unique values
#Each unique value act as a temp index for the newly created temp.df  for analysis

In [ ]:
group_Embarked.get_group('C')  #This can be done with  boolean filter  Embarked=='C'  
#but groupby can already split and ready the data for further anaylysis , 
#but filter onlye group one element in the filter in our case C

In [ ]:
group_Embarked['Gender'].value_counts()  #we can see the group will act as a temperory index , so we can apply loc over it

#above can be done by loc but only for one set at atime

filt=df['Embarked']=='C'
df.loc[filt]   
df.loc[filt]['Gender']    #apply column filter
df.loc[filt]['Gender'].value_counts()    #apply value_counts on the selected column

In [ ]:
group_Embarked['Gender'].value_counts().loc['C']
group_Embarked['Gender'].value_counts(normalize=True).loc['C']  #for percentage

In [ ]:
group_Embarked['Fare'].median()
group_Embarked['Fare'].mean()
group_Embarked['Fare'].mean().loc['C']

In [ ]:
#If we need more than one aggregate  use agg function 
group_Embarked['Fare'].agg(['mean','median'])
#emb['Fare'].agg(['mean','median']).loc['C']

In [ ]:
#how many doctors
filt=df['Name'].str.contains('Dr')
df.loc[filt]['Name'].count()

#Apply over groupby

group_Embarked=df.groupby(['Embarked'])
group_Embarked['Name'].apply(lambda x: x.str.contains('Dr').sum())

In [ ]:
#Groupby for multiple columns

group=df.groupby(['Gender','Embarked'])
group['Fare'].value_counts()

#### Apply Method in Pandas

Apply, picks each element at a time from a collection of data and  applies a function or  recomonded modification
on each element and return it
For example if we pass a series it will take indivitual cell element to apply the feature 
            If we pass a dataframe it will take each column from the Df to appy the feature

In [ ]:
#for example in Titanic Data below i want to check the length of each name and assign to a new column

df['Len_name']=df['Name'].apply(len)

#Want to add an extension to every name 

df['New_name'] =df['Name'].apply(lambda x :x + 'Addition')

#want to add a value to the integer

df['New_age']=df['Age'].apply(lambda x :x +20)

#to get the first element from the name

df['surname']=df['Name'].str.split(' ').apply(lambda x: x[0]) #Split will convert each name into a list ,seperated with space

In [ ]:
df['col1'].apply(sum)  #col1 shoubl be int or float

In [ ]:
df['Age'].apply(lambda x :x+5)
df[['Age','Fare','Survived','Pclass']].apply(lambda x :x+5)  #all the col should be int or float

In [ ]:
df2.apply(sum,axis=0) #give sum in columns direction
df2.apply(sum,axis=1) #give sum in row direction
#Alll the column should be in int or float

In [ ]:
#to get the count of Dr from each Embarked point
group_Embarked=df.groupby(['Embarked'])
group_Embarked['Name'].apply(lambda x: x.str.contains('Dr').sum())

### PIVOT TABLE

In [ ]:
suppose have data with flight passengers in a country, data in month, date in year and number of passengers

In [ ]:
pivot =df.pivot_table(index='month',columns='year',values='passengers')
will give a table as below

In [ ]:
import seaborn as sns
fdf=sns.load_dataset('flights') #importing a seaborn data
pivot =fdf.pivot_table(index='month',columns='year',values='passengers')
pivot
#convert this into a heatmap

## Handling Catagorical Features

#### Get Dummies  -One Hot Encoding Using Pandas

In [ ]:
New_col_df=pd.get_dummies(df['col']) #Label encoded all the class 
New_col_df=pd.get_dummies(df['col'],drop_first=True)  # if we want to drop first column
New_col_df=pd.get_dummies(df['col'],drop_first=True,dummy_na=True) # if we want to include Nan as well

New-_col_df will create a dataframe with columns have unique values in df['col'], and drop_first will drop the first class
For an example in df['Grade'] catagorical column has class A+,A,B+,B so in new_col_col will have columns A,B+ and B only and drop the col with A+

And this newly created dataframe can get concantiated with the X using pd.Concat axis=1(code below) function  and delete the df['Grade'] from X

In [ ]:
df=pd.concat([df,New_col],axis=1)  #concatinating the encoded dataframe to original df
df.drop(columns=['Col'],inplace=True)  #delete the encoded column(col) from the original df
#then data frame is ready to fed to the machine

In [ ]:
NOTE-
Same one hot encoding should be applied to test/prediction data before prediction
,other wise the feature column between the train and test data mismatch.

In [ ]:
If we use 
df=pd.get-dummiers(df,drop_first=True,dummy_na=True) #This will convert all the object columsn into one hot encode
#but this has less control on handling additional classes between test  and train

###### Need to read about Variable trap in Models ????

##### In case if we have additional class in Test data or prediction Data

In [ ]:
Problem:
If we have additional class in test/predict data , then while applying OHE to test , it will have an additional 
feature column in compared to the train Feature.And throw and error, because our model was not trained
for this additional feature in test/predict data.
Solution:
    1Find additional classes in the test data compared to train/predict.
    2.Convert the feature in Train into catagorical data type ,adding the additional class from the 
    test data

In [ ]:
For exmaple if the test data has an additional grade 'C', which is not in train.
This will create and additional column in train with 'C' =0 , during Get Dummies
Code below

In [ ]:
from pandas.api.types import CategoricalDtype
df['Grade']=df['Grade'].astype(CategoricalDtype(['A+','A','B+','B','C']))

In [ ]:
NOTE:
If we have additional class in test/predict data, similar thing should be done in viseversa

###### Factorize

In [ ]:
dfc['col'].factorize()   #will label encode with numbers

### Creating and empty Data frame

In [ ]:
X_new=pd.DataFrame(columns=['Emptyrow'],axia=1)

##### CREATING DICT FROM TWO COLUMNS

lookup=dict(zip(df['Flower'].unique(),df['encoded_flower'].unique()))
This can be applied ,when we have a catagorical output column and  label-encoded output feature column for training and prediction process.
so we can use this dictionay to get the relation and create output

### Histogram  /Bin numeric data

In [ ]:
dfc['Agegroup']=pd.cut(dfc['Age'],bins=(0,25,30),labels=['young','old'])
#bins =0 is base limit, 30 upper limit. so any data outside the baseklimit and upper limit will considered as Nan,
#then data between base and upper limit divivded into two with 25,so two classed
#if want three classed then put two values between base and upper limit

In [ ]:
x=df['Col'] #should be an int/float
hist=pd.cut(x,10)

# Numpy and Pandas

### Converting to Data frame to Numpy Array

In [ ]:
#df.to_numpy(dtype=None, copy=False, na_value=<object object>)
df.to_numpy()

#### Converting 1dim to higher dim  n array

### Export to excel

In [ ]:
#to an excel
df.to_excel(r'Path to store the exported excel file\File Name.xlsx', index = False)
#to an excel specific sheet
df.to_excel(r'Path to store the exported excel file\File Name.xlsx', sheet_name='Your sheet name', index = False)

#### Removing Outliers for Ploting

removing the outliers from lotarea vs saleprice by taking lotarea removing above .95 quantile
we can try changing this from 99 to backward to check or use a boxplot to see or quantile formula
to decide the outliers from the data

filt =df['LotArea']<df['LotArea'].quantile(0.96)
df_sub=df.loc[filt]

sns.regplot(x='LotArea',y='SalePrice',data=df_sub)

### Series Transformation

In [ ]:
import numpy as np
df['log_col'] = np.log(df['col'])    #LOG transformation


df['col_squareroot']=np.sqrt((df['Col']))  #square root transformation